body {
    font-family: Roboto;
    src: url("assets/fonts/Roboto.ttf");
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  * {
    box-sizing: border-box;
  }
.header {
    border: 1px solid red;
    background-color: #333333;
}
.main {
    border: 1px solid red;
    background-color: #999999;
}
.footer {
    border: 1px solid red;
    background-color: #FFFFCC;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: larger; 
    
}
.html {
    scroll-behavior: smooth;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #999999;
    transition: 0,3s;
}
.nav-list a {
    color: #999999
    text-decoration: none;
    transition: color 0.5s;
  }
  .nav-list a:hover {
    color:#fff7f7;
  }
  .photo {
    width: 350px;
  }
  .main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  color: #df0a0a;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #df0a0a;
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #333333;
}
